/* UCLA COLORS */
:root {
  --ucla-blue: #2774ae;
  --ucla-gold: #ffb300;
  --ucla-light: #e8f1f8;
  --ucla-dark: #1a3c5a;
}

.MemberCard {
    width: 220px;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 12px;
    text-align: center;
}

.MemberCard h3 {
    margin-bottom: 10px;
}

.MemberCard p {
    margin: 0;
}

.BandSection {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px 20px
}

