/* UCLA COLORS */
:root {
  --ucla-blue: #2774ae;
  --ucla-gold: #ffb300;
  --ucla-light: #e8f1f8;
  --ucla-dark: #1a3c5a;
}

/*Main Parent of Member Card Section*/
.BandSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap:20px;
    padding: 40px 20px;

    background: var(--ucla-blue);
}

.LogoImage {
    width: 250px;
    height: auto;
    object-fit: contain;
}

.MemberCard {
    width: 95%;
    max-width: 950px;

    border: 2px solid white;
    border-radius: 12px;
    
    overflow: hidden;
    color: var(--ucla-light);
}

.MemberCard.open {
    width: 650px;
}

/*Member Image*/
.MemberImage {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 70%;
    border: 3px solid white;
}

/*Member Main section - Names and Role*/
.MemberMain {
    display: grid;
    grid-template-columns: 200px 1fr auto;
    align-items: center;

    gap: 0px;
    padding: 20px 30px;
}

.MemberMain h3 {
    margin: 0;
    text-align: center;
}

.MemberMain p {
    margin: 0 20px;
    text-align: left;
}

/*Card Button Section*/
.CardButton {
    padding: 10px 16px;

    background: var(--ucla-gold);
    color: var(--ucla-dark);

    border: none;
    border-radius: 8px;

    cursor: pointer;

    transition: 0.2s ease;
    margin-top: 10px;
}

.CardButton:hover {
    background:white;
}

.CardButton:active {
    transform: translateY(1px);
}

/*Intro Section*/
.MemberIntro {
    max-height: 0;
    opacity: 0;

    overflow: hidden;

    padding: 0 30px;

    transition:
        max-height 0.4s ease,
        opacity 0.4s ease,
        padding 0.4s ease;
}

.MemberIntro.show {
    max-height: 400px;
    opacity: 1;

    padding: 20px 30px;

    border-top: 1.5px dashed white;
}

.MemberIntro p {
    margin: 0;

    text-align: left;
    line-height: 1.6;
}

/*Main Parent of the Instrument Section*/
.InstrumentSection {
    background: #ffb300;
    padding: 40px 20px;
    color: black;
    text-align: center;
}

.InstrumentTitle {
    text-align: center;
    margin-bottom: 30px;
    background: var(--ucla-dark);
}

.InstrumentInfo {
    display: flex;
    justify-content: center;
    align-items: stretch;

    gap: 20px;
    flex-wrap: wrap;

    max-width: 1100px;
    margin: 0 auto;
}

.InstrumentSubSec {
    background: white;
    color: var(--ucla-dark);

    width: 400px;
    height: 200;

    padding: 20px;

    border-radius: 12px;

    text-align: left;
}

.InstrumentSubSec h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

.InstrumentSubSec li {
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 15px;
}


/* Card text */
.InstrumentSubSec p {
    margin: 0;
    line-height: 1.5;
}

.InstrumentImage {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-bottom: 30px;

    background: transparent;
}

.InstrumentPhoto {
    width: 500px;
    max-width: 90%;
    height: auto;

    object-fit: contain;

    border-radius: 12px;
    border: 3px solid var(--ucla-dark);
}

/* Music Section */
.MusicSection {
    background: white;
    padding: 45px 30px;
    text-align: center;
}

/* Section title */
.MusicTitle {
    color: var(--ucla-dark);
    margin-bottom: 30px;
    font-size: 2rem;
}

/* Container for all song cards */
.MusicList {
    display: flex;
    justify-content: center;
    align-items: stretch;

    gap: 20px;
    flex-wrap: wrap;

    max-width: 1100px;
    margin: 0 auto;
}

/* Individual song card */
.MusicCard {
    background: var(--ucla-light);
    color: var(--ucla-dark);

    width: 280px;
    height: 100px;

    padding: 22px;

    border-radius: 12px;
    border: 2px solid var(--ucla-blue);

    text-align: left;
}

/* Song title */
.MusicCard h3 {
    margin-top: 0;
    margin-bottom: 15px;

    color: var(--ucla-blue);
}

/* Song information */
.MusicCard p {
    margin: 8px 0;
    line-height: 1.5;
}

/* Performance Video Section */
.MusicVideo {
    margin-top: 40px;
    text-align: center;
}

.MusicVideo h3 {
    color: var(--ucla-dark);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Performance Video */
.PerformanceVideo {
    width: 800px;
    max-width: 90%;
    height: auto;

    border-radius: 12px;
    border: 3px solid var(--ucla-blue);

    display: block;
    margin: 0 auto;
}

/*Main Parent of the Live Section*/
.LiveSection button {
    background: var(--ucla-gold);
    color: var(--ucla-dark);

    border: none;
    border-radius: 10px;

    padding: 14px 28px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.2s ease;
    margin-top: 30px;
    margin-bottom: 20px;
}

.LiveSection button:hover {
    background: white;
    transform: scale(1.05);
}

.LiveSection button:active {
    transform: scale(0.98);
}

.LiveMode {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: black;
    color: white;

    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LiveMode h1 {
    margin-bottom: 25px;
    color: var(--ucla-gold)
}


/*Wave Section*/
.LiveWaves {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto 25px auto;
}

.WaveVisualize {
    width: 100%;
    height: 350px;
    background: black;

    border: 2px solid var(--ucla-blue);
    border-radius: 25px;

    overflow: hidden;
}

.WaveVisualize svg {
    width: 100%;
    height: 100%;
    display: block;
}

/*Status Card Section*/
.LiveStatus {
    width: 90%;
    max-width: 1000px;

    margin: 25px auto;

    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr;
    gap: 20px;
}

.StatusNoteCard,
.StatusVolumeCard,
.StatusEffectCard {
    background: #101820;

    border: 2px solid var(--ucla-blue);
    border-radius: 16px;

    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.StatusNoteCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.StatusNoteCard p {
    margin: 0;
    font-size: 16px;
    opacity: 0.7;
}

.StatusNoteCard h2 {
    margin: 10px 0 0 0;
    font-size: 45px;
    color: var(--ucla-gold)
}

.StatusVolumeCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.VolumeHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
}

.VolumeBar {
    width: 100%;
    height: 18px;

    background: #333;

    border-radius: 20px;
    overflow: hidden;
}

.VolumeLevel {
    height: 100%;
    background-color: var(--ucla-gold);

    border-radius: 20px;
    transition: width 0.15s ease;
}

.StatusEffectCard {
    text-align: left;
}

.StatusEffectCard p {
    margin-top: 0;
    margin-bottom: 12px;
    font-size:18px;
    font-weight: bold;
}

.EffectStatus {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 10px;
    font-size: 16px;
}

.EffectOn {
    color: #27c243;
    font-weight: bold;
}

.EffectOff {
    color: #b71b1b;
    font-weight: bold;
}

/*Live Button*/
.LiveMode > button {
    margin-top: 20px;

    padding: 12px 18px;

    border: none;
    border-radius: 10px;

    background: var(--ucla-gold);
    color: var(--ucla-dark);

    font-size: 24px;
    font-weight: bold;

    cursor: pointer;

    transition: transform 0.2s ease;
}

.LiveMode > button:hover {
    transform: scale(1.1);
}